.appointment-form {

  [type="text"],
  [type="email"],
  [type="tel"],
  textarea {
    padding: 15px;
    width: 100%;

    color: #000;

    background-color: #fff;
    border: 1px solid #e5ddd5;

    &::placeholder {
      color: #000;
    }

    &:hover {
      border-color: #d5c9bd;
    }

    &:focus {
      outline: none;
      border-color: #999999;
    }
  }

  legend {
    text-align: center;
    font-size: 20px;
    text-transform: uppercase;
  }

  [type="radio"],
  [type="checkbox"] {
    @extend .visually-hidden;
  }

  label {
    user-select: none;
    cursor: pointer;
  }
}

.appointment-form__passport-data {
  padding: 0;
  margin-bottom: 32px;
  
  border: none;

  input:not(:last-child) {
    margin-bottom: 6px;
  }
}

.appointment-form__contacts {
  padding: 0;
  margin-bottom: 32px;
  
  border: none;

  input:not(:last-child) {
    margin-bottom: 6px;
  }
}

.appointment-form__message {
  padding: 0;
  margin-bottom: 32px;
  
  border: none;

  textarea {
    resize: none;

    height: 112px;
  }
}

.appointment-form__beard-choise {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;

  padding: 0;
  margin-bottom: 32px;
  
  border: none;

  padding-top: 4px;
}

.appointment-form__container {
  // Контейнер для фикса проблемы с прокруткой к инпутам при клике на лейблы
  display: flex;
  position: relative;

  [type="radio"] {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

.appointment-form__beard-type {
  position: relative;

  flex-shrink: 0;
  margin-top: 30px;
  padding-top: 65px;
  width: 85px;

  text-align: center;
  text-transform: lowercase;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);

    @include size(52px);

    border-radius: 50%;
    background-color: #fff;
    border: 1px solid #e5ddd5;
  }


  &--admiral {
    padding-bottom: 64px;

    background-image: url(../img/beards/beard-1.svg);
    background-repeat: no-repeat;
    background-size: 52px 49px;
    background-position: bottom center;
  }

  &--lumberjack {
    padding-bottom: 85px;

    background-image: url(../img/beards/beard-2.svg);
    background-repeat: no-repeat;
    background-size: 58px 69px;
    background-position: bottom center;
  }

  &--polar {
    padding-bottom: 94px;

    background-image: url(../img/beards/beard-3.svg);
    background-repeat: no-repeat;
    background-size: 64px 78px;
    background-position: bottom center;
  }

  &--boyar {
    padding-bottom: 112px;

    background-image: url(../img/beards/beard-4.svg);
    background-repeat: no-repeat;
    background-size: 58px 98px;
    background-position: bottom center;
  }

  &--sage {
    padding-bottom: 118px;

    background-image: url(../img/beards/beard-5.svg);
    background-repeat: no-repeat;
    background-size: 46px 105px;
    background-position: bottom center;
  }
}

:checked + .appointment-form__beard-type::after {
  content: "";
  position: absolute;
  top: 17px;
  left: 50%;
  transform: translateX(-50%);

  @include size(18px);

  
  border-radius: 50%;
  border: 1px solid #e5ddd5;
  background-color: #fff;

}

:not(:disabled) + .appointment-form__beard-type:hover,
:focus + .appointment-form__beard-type {
  &::before,
  &::after {
    border-color: #d5c9bd;
  }
}

:not(:disabled) + .appointment-form__beard-type:active {
  &::before {
    background-color: #d5c9bd;
  }
}

.appointment-form__addition-services {
  display: flex;
  flex-direction: column;

  padding: 30px 0;
  margin-bottom: 32px;
  
  border: none;
  
  [type="checkbox"] {
    position: relative !important;
    top: 15px;
    opacity: 0;
  }
}

.appointment-form__addition-service {
  position: relative;
  padding-left: 60px;

  line-height: 37px;

  &:not(:last-child) {
    margin-bottom: 23px;
  }

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;

    @include size(36px);

    background-color: #fff;
    border: 1px solid #e5ddd5;
  }
}

:checked + .appointment-form__addition-service::after {
  content: "";
  position: absolute;
  top: 10px;
  left: 7px;

  @include size(22px, 16px);

  background-image: url(../img/icons/checkbox.svg);

}

:not(:disabled) + .appointment-form__addition-service:hover,
:focus + .appointment-form__beard-type {
  &::before {
    border-color: #d5c9bd;
  }
}

:not(:disabled) + .appointment-form__addition-service:active {
  &::before {
    background-color: #d5c9bd;
  }
}

.appointment-form__submit {
  width: 100%;

  color: #fff;

  background-color: #826550;

  &:not(:disabled):hover,
  &:active {
    background-color: #6a4d38 !important;
  }

  &:active {
    color: rgba(#fff, 0.3);
  }

  &:disabled {
    background-color: #aeaeae;
  }
}

@media (min-width: $tablet-width) {
  .appointment-form legend {
    font-size: 30px;

    padding-left: 25px;
    padding-right: 25px;
  }

  .appointment-form__passport-data {
    display: flex;
    margin-bottom: 35px;

    input:not(:last-child) {
      margin-bottom: 0;
    }
    
    input:nth-child(2) {
      border-left: none;
      border-right: none;
    }
  }

  .appointment-form__contacts {
    margin-bottom: 35px;

    input:not(:last-child) {
      margin-bottom: 35px;
    }
  }

  .appointment-form__message textarea {
    height: 211px;
  }

  .appointment-form__beard-choise,
  .appointment-form__addition-services {
    border-top: 1px solid #e5ddd5;
  }

  .appointment-form__beard-choise {
    justify-content: space-around;

    margin-bottom: 60px;
    margin-top: 60px
  }

  .appointment-form__addition-services {
    flex-direction: row;
    flex-wrap: wrap;

    padding-top: 60px;
  }

  .appointment-form__addition-service {
    width: calc(50% - 1px);
    // Смещение 1px из-за невидимого чекбокса с относ. позиционированием
  }
}

@media (min-width: $desktop-width) {
  .appointment-form__passport-data {
    justify-content: space-between;

    input {
      width: calc((100% - 37px * 2) / 3) !important;
    }

    input:nth-child(2) {
      border-left: 1px solid #e5ddd5;
      border-right: 1px solid #e5ddd5;
    }
  }

  .appointment-form__contacts {
    display: flex;
    justify-content: space-between;

    input {
      width: calc((100% - 35px) / 2) !important;
    }

    input:first-child {
      margin-bottom: 0;
    }
  }

  .appointment-form__addition-service {
    width: calc(33.33% - 1px);
    // Смещение 1px из-за невидимого чекбокса с относ. позиционированием
  }
}

.test {
  display: flex;
  flex-direction: row;
  border: none;

  &__block {
    width: 40px;
    height: 40px;
    border: 1px solid red;
  }
}