.page-footer {
    padding-top: 80px;
    padding-bottom: 20px;

    text-align: center;
}

.page-footer__wrapper {
    margin: 0 auto;
    max-width: 360px;
}

.page-footer__contacts {
    margin-bottom: 20px;
}

.page-footer__social {
    margin-bottom: 30px;
}

.page-footer__copyright {
    // Не требуется
}

@media (min-width: $tablet-width) {
    .page-footer {

    }

    .page-footer__wrapper {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        max-width: 640px;
    }

    .page-footer__contacts {
        width: 320px;
    }

    .page-footer__copyright {
        width: 160px;
    }

    .page-footer__social {
        width: 100%;

        order: 2;
    }
}