.page-footer {
    padding-top: 80px;
    padding-bottom: 20px;

    text-align: center;
}

.page-footer__wrapper {
    margin: 0 auto;
    max-width: 360px;
}

.page-footer__contacts {
    margin-bottom: 20px;
}

.page-footer__social {
    margin-bottom: 30px;
}

.page-footer__copyright {
    // Не требуется
}