.login-form {
  padding: 32px 20px 37px;

  background-color: $bg-lightgrey;

  color: #000;
}

.login-form__title {
  margin: 0;
  margin-bottom: 25px;
}

.login-form p {
  margin: 25px 0;

  text-align: center;
}

.login-form__input-wrapper {
  position: relative;

  display: block;
  height: auto;

  margin-bottom: 6px;

  input {
    width: 280px;
    padding: 15px;

    color: #000;

    background-color: #fff;
    border: 1px solid #e5ddd5;

    &::placeholder {
      color: #000;
    }

    &:hover {
      border-color: #d5c9bd;
    }

    &:focus {
      outline: none;
      border-color: #999999;
    }
  }

  svg {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 19px;
  }
}

.login-form__row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 26px;

  [type="checkbox"] {
    @extend .visually-hidden;
  }

  label {
    position: relative;

    padding-left: 43px;
    cursor: pointer;
    line-height: 33px;

    user-select: none;

    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;

      @include size(33px);

      border: 1px solid #e5ddd5;
      background-color: #fff;
    }
  }

  :checked + label::after {
    content: "";
    position: absolute;
    top: 9px;
    left: 7px;

    @include size(22px, 16px);

    background-image: url(../img/icons/checkbox.svg);
  }

  :not(:disabled) + label:hover {
    &::before {
      border-color: #d5c9bd;
    }
  }

  :not(:disabled) + label:active {
    &::before {
      background-color: #d5c9bd;
    }
  }
}

.login-form__forgot {
  color: inherit;
}

.login-form__submit {
  width: 130px;

  color: #fff;

  background-color: #826550;

  &:not(:disabled):hover,
  &:active {
    background-color: #6a4d38 !important;
  }

  &:active {
    color: rgba(#fff, 0.3);
  }

  &:disabled {
    background-color: #aeaeae;
  }
}

.login-form__close {
  width: 130px;
}

@media (min-width: $tablet-width) {
  .login-form {
    padding: 50px 70px 63px;
  }

  .login-form__title {
    text-align: center;
  }

  .login-form__input-wrapper input {
    width: 320px;
    padding: 23px 25px;

    font-size: 24px;
  }

  .login-form__submit {
    width: 100%;
  }

  .login-form__close {
    position: absolute;
    top: 62px;
    right: -95px;

    @include size(26px);
    padding: 0;

    font-size: 0;

    background-color: transparent;
    border: none;

    &::before,
    &::after {
      content: "";

      position: absolute;
      top: 10px;
      left: -5px;


      width: 36px;
      height: 2px;

      background-color: #fff;
    }

    &::before {
      transform: rotate(45deg);
    }

    &::after {
      transform: rotate(-45deg);
    }

    &:hover {
      background-color: transparent;
      &::before,
      &::after {
        background-color: #826550;
      }
    }

    &:active {
      background-color: transparent;
      &::before,
      &::after {
        background-color: rgba(#fff, 0.3);
      }
    }
  }
}