.reviews {
    padding-bottom: 10px;

    border-top: 1px solid transparent;
    background-color: $bg-lightgrey;

    color: #000;

    @include corner(40px, "f8f5f2");
}

.reviews__wrapper {
    // Не требуется
}

.reviews__title {
    // Не требуется
}

.reviews__write {
    display: none;
}

.reviews__list {
    margin: 0 auto;
    margin-top: 15px;
    margin-bottom: 35px;
    max-width: 500px;
}

.reviews__item {
    position: relative;

    margin: 0;
    padding-left: 70px;
    min-height: 100px;
}

.reviews__author-picture {
    position: absolute;
    top: 10px;
    left: 0;

    margin: 0;
    margin-right: 20px;
    width: 50px;
    height: 50px;
}

.reviews__author-image {
    // Не требуется
}

.reviews__author-name {
    margin: 0;

    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 27px;
}

.reviews__text {
    margin: 0;
    margin-top: 10px;
}

.reviews__prev,
.reviews__next {
    display: none;
}

.reviews__prev {
    // Не требуется
}

.reviews__next {
    // Не требуется
}

@media (min-width: $tablet-width) {
    .reviews::after {
        display: none;
    }

    .reviews__wrapper {
        position: relative;

        width: 640px;
        padding: 0;
    }

    .reviews__write {
        position: absolute;
        top: -10px;
        right: 0;

        display: block;
        width: 160px;
        padding-left: 0;
        padding-right: 0;
    }

    .reviews__list {
        position: relative;

        max-width: none;
        margin-top: 45px;

        border: 1px solid #e5ddd5;
    }

    .reviews__item {
        padding-left: 190px;
        padding-right: 100px;
        padding-top: 30px;
        padding-bottom: 30px;
        height: 160px;
    }

    .reviews__author-picture {
        top: 35px;
        left: 80px;

        width: 80px;
        height: 80px;
    }

    .reviews__author-image {
        border-radius: 50%;
    }

    .reviews__toggles {
        position: absolute;
        bottom: -23px;
        left: 50%;
        transform: translateX(-50%);

        padding: 0 25px;

        background-color: $bg-lightgrey;
    }

    .reviews__prev,
    .reviews__next {
        position: absolute;
        top: -1px;

        display: block;
        padding: 0;
        width: 50px;
        height: calc(100% + 2px);

        font-size: 0;

        border: 1px solid #e5ddd5;
        background: none;

        svg {
            @include size(12px);
            position: relative;
            top: 5px;
        }
    }

    .reviews__prev {
        left: -1px;
    }

    .reviews__next {
        right: -1px;

        svg {
            transform: rotate(180deg);
        }
    }
}

@media (min-width: $desktop-width) {
    .reviews__wrapper {
        width: 960px;
        padding-bottom: 40px;
    }

    .reviews__list {
        width: 818px;
    }

    .reviews__item {

        padding-left: 320px;
    }

    .reviews__author-picture {
        top: 0;
        left: 0;

        width: 249px;
        height: 160px;
    }

    .reviews__author-image {
        border-radius: initial;
    }

    .reviews__prev {
        left: -70px;
    }

    .reviews__next {
        right: -70px;
    }

    .reviews__toggles {
        bottom: 10px;
    }
}