.site-list {
    display: flex;
    flex-direction: column;
    @include reset-list;

    background-color: #826550;
}

.site-list__item {
    order: 0;
}

.site-list__item--active {
    order: -1;
}

.site-list__item a {
    display: block;
    height: 50px;
    
    line-height: 50px;
    text-transform: uppercase;
    font-weight: bold;
    color: inherit;
    text-decoration: none;
}

@media (max-width: $tablet-width - 1px) {
    .site-list__item a[href] {
        &:hover {
            background-color: #755a46;
        }
    
        &:active {
            color: rgba(#fff, 0.3);
        }
    }
}

@media (min-width: $tablet-width) {
    .site-list {
        flex-direction: row;
        flex-wrap: wrap;

        background-color: transparent;
    }

    .site-list__item--active {
        position: relative;

        order: 0;

        &::after {
            content: "";

            position: absolute;
            bottom: -2px;
            left: 50%;
            transform: translateX(-50%);

            width: calc(100% - 40px);
            height: 3px;

            background-color: #826550;
        }
    }

    .site-list__item a {
        padding: 24px 20px;
        height: auto;

        text-align: center;
        line-height: 24px;
    }

    .site-list__item a[href] {
        &:hover,
        &:active {
            color: #826550;
        }
    
        &:active {
            color: rgba(#fff, 0.3);
        }
    }
}

@media (min-width: $desktop-width) {
    .site-list__item a[href] {
        &:hover,
        &:active {
            background-color: #fff;
            color: #000;
        }
    
        &:active {
            color: rgba(#000, 0.3);
        }
    }
}