.stats {
    width: 100%;
    max-width: 400px;
    margin: auto;
}

.stats__header {
    padding: 30px 20px;

    color: #000;
    background-color: #fff;

    text-align: center;
}

.stats__slogan {
    margin: 0;

    font-weight: bold;
    font-size: 30px;
    line-height: 30px;
    text-transform: uppercase;
}

.stats__intro {
    margin-top: 24px;
    padding: 0 5%;

    font-size: 20px;
    line-height: 27px;
}

.stats__legend {
    display: block;
    padding: 20px;

    text-align: center;
}

.stats__legend--bottom {
    color: #4e4e4e;
    font-size: 20px;
    line-height: 27px;
}

.stats__legend--top {
    display: none;
}

.stats__list {
    width: 100%;

    tr:nth-child(odd) {
        background-color: #404040;
    }

    tr:nth-child(even) {
        background-color: #4e4e4e;
    }
}

.stats__value,
.stats__field {
    padding: 20px;
    width: 50%;

    sup {
        margin-left: 10px;
    }
}

.stats__value {
    padding-right: 0;

    font-size: 40px;
    font-weight: bold;
}

.stats__field {
    padding-left: 0;

    text-align: right;
}

@media (min-width: $tablet-width) {
    .stats {
        width: 640px;
        max-width: none;
        margin-top: -184px;
        z-index: 1;
    }

    .stats__header {
        position: relative;

        display: flex;
        flex-wrap: wrap;

        padding: 30px 0;
        min-height: 184px;

        text-align: left;

        &::before {
            content: "";
            position: absolute;
            top: 42px;
            left: -23px;

            width: 0;
            height: 0;

            border-top: 23px solid #fff;
            border-left: 23px solid transparent;
            border-right: 23px solid transparent;
        }
    }

    .stats__slogan {
        width: 320px;
        padding-left: 35px;

        font-size: 40px;
        line-height: 40px;
        font-weight: bold;
        text-transform: none;
    }

    .stats__intro {
        width: 320px;
        margin: 0;
        padding-left: 30px;
        padding-right: 80px;
    }

    .stats__legend--top {
        display: block;
        width: 100%;
        padding-left: 35px;
        padding-bottom: 0;

        text-align: left;
        color: rgba(#000, 0.3);
        font-size: 20px;
        line-height: 27px;
    }

    .stats__list tbody {
        display: flex;
        flex-wrap: wrap;
    }

    .stats__list tr {
        display: flex;
        flex-direction: column;

        width: 50%;
        padding: 30px 0;

        &:nth-child(1) {
            background-color: #404040;
        }

        &:nth-child(2) {
            background-color: #4e4e4e;
        }

        &:nth-child(3) {
            background-color: #353535;
        }
        
        &:nth-child(4) {
            background-color: #404040;
        }
    }

    .stats__value,
    .stats__field {
        width: 100%;
        padding: 0 30px;

        text-align: left;
    }

    .stats__value {
        margin-bottom: 5px;

        font-size: 72px;
        line-height: 72px;
    }

    .stats__field br {
        display: none;
    }

    .stats__legend--bottom {
        display: none;
    }
}

@media (min-width: $desktop-width) {
    .stats {
        display: flex;
        width: 960px;
        margin-top: -164px;
    }

    .stats__header {
        width: 320px;
    }
}