.user-list {
    @include reset-list;

    background-color: #6a4d38;
}

.user-list__item {
    // Не требуется
}

.user-list__item a {
    display: block;
    padding-left: 20px;
    height: 50px;

    line-height: 50px;

    color: inherit;
    text-decoration: none;

}

.user-list__login {
    // Не требуется
}

.user-list__ico {
    fill: rgba(255, 255, 255, 0.3);
    
    position: relative;
    top: 2px;

    margin-right: 5px;
}

@media (min-width: $tablet-width) {
    .user-list {
        background-color: transparent;
    }

    .user-list__item a {
        display: flex;
        justify-content: center;
        align-items: center;

        height: 70px;

        line-height: normal;
        font-size: 0;

        &:hover svg {
            fill: #826550;
        }

        &:active svg {
            fill: #4d4d4d;
        }
    }

    .user-list__ico {
        top: 0;
    }
}

@media (min-width: $desktop-width) {
    .user-list__item a {
        padding-right: 20px;

        font-size: 18px;
        font-weight: bold;
        text-transform: uppercase;

        &:hover {
            background-color: #fff;
            color: #000;

            svg {
                fill: #b6b6b6;
            }
        }

        &:active {
            color: rgba(#000, 0.3);

            svg {
                fill: rgba(#000, 0.1);
            }
        }
    }

    .user-list__ico {
        margin-right: 15px;
    }
}