*,
*::before,
*::after {
    box-sizing: inherit;
}

.visually-hidden {
    position: absolute !important;
	clip: rect(1px, 1px, 1px, 1px);
	padding:0 !important;
	border:0 !important;
	height: 1px !important; 
	width: 1px !important; 
	overflow: hidden;
}

body {
    // min-width: 320px;
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    font-size: 18px;
    line-height: 27px;
    font-family: "PT_SansNarrow", "Arial", sans-serif;
    color: #f7f4f1;
    font-style: normal;

    background-color: $bg-darkgrey;
}

img {
    max-width: 100%;
    height: auto;
}

.wrapper {
    padding: 0 20px;
    margin: 0 auto;
}

h2 {
    font-size: 30px;
    line-height: 30px;
    text-transform: uppercase;
    text-align: center;
}

.btn {
    display: block;
    padding: 15px 30px;

    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    text-decoration: none;
    color: #000;

    border: 1px solid #e5ddd5;

    &:hover {
        border-color: #d5cabe;
    }

    &:active {
        background-color: #d5c9bd;
        color: rgba(#000, 0.3);
    }
}

.btn--dark {
    color: #fff;

    border-color: #3e3e3e;

    &:hover {
        border-color: #515151;
    }

    &:active {
        color: rgba(#fff, 0.3);
    }
}